html {
    scroll-behavior: smooth;
}

body {
    font-family: garamond;
    background-image: url(../img/backgroundtexture.jpg);
    overflow-x: hidden;
    color: black;
}

/* tekst types */

h1 {
    font-family: Fatface;
    font-size: 7em;
    color: var(--color-detail);
    width: 600px;
}

.article-title{
    width: 900px;
}

h2 {
    width: 900px;
    margin: 0 auto;
    font-family: Fatface;
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-detail);
}

h3 {
    font-family: Fatface;
    font-size: 3em;
    margin: 10px 0;
}

.text-light{
    color: var(--color-light);
}

p{
    max-width: 900px;
    font-size: 1.5em;
    line-height: 140%;
    margin: 0 auto;
}

.p-collum {
    width: 314px;
    padding-left: 35px;
    padding-right: 35px;
}

.border-left{
border-left: solid 2px black;
}

p a {
    font-size: 1.25em;
    color: var(--color-detail);
    transition: 150ms ease-in;
}

li {
    list-style: none;
}

li a{
    color: var(--color-detail);
    margin-right: 20px;
    text-decoration: none;
    font-size: 2em;
    }

.source-link:hover {
    font-size: 110%;
}

header p {
    width: 500px;
    margin-left: 50px;
}


.img-source {
    text-align: left;
    font-size: 1em;
}

.img-source a {
    font-size: 1em;
}



/*coloring*/

:root {
    --color-detail: #881919;
}

:root {
    --color-dark-detail: #5f1111;
}

:root {
    --color-light: #D3D9E9;
}

:root {
    --color-dark: #34373F;
}

:root {
    --color-bg: #ffffff;
}


/* spacing */

.clear{
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.center {
    display: block;
    margin: 0   auto;
}

.spacing-bottom {
    margin-bottom: 115px;
}

.relative{
    position: relative;
}

.spacing-right {
    margin-right: 20px;
}

.spacing-mid {
    margin: 0 25px;
}

.spacing-alinea {
    margin-bottom: 50px;
}


/* building blocks */

nav {
    position: fixed;
    right: 35px;
    top: 35px;
    z-index: 9999;
}

aside {
    position: fixed;
    right: -100%;
    top: 20px;
    width: 500px;
    background: var(--color-dark-detail);
    transition: 1s;
    border-radius: 30px;
    z-index: 10;
    padding: 35px;
}

aside.toggle{
    right: -35px;
}

header section {
    height: fit-content;
    width: 1200px;
    margin: 0  auto;
}

.title-container {
    margin-top: 150px;
}

main {
    height: fit-content;
    z-index: 2;
}

header img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 700px;
}


.img-main {
    width: 100%;
    height: 600px;
    background-image: url(../img/wargaming-table.JPG);
    background-size: 100%;
    background-position: center;
    margin-bottom: 50px;
}

article {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    z-index: 1;
}

section {
    width: fit-content;
}



footer {
    height: 120px;
    background: var(--color-dark);
}


/* colored blocks article */
.bg-left{
    background:var(--color-dark);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bg-right{
    background: var(--color-dark-detail);
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.dark-bg {
    padding: 50px;
    background: var(--color-dark);
    border-radius: 30px;
}

.red-bg {
    padding: 50px;
    background: var(--color-dark-detail);
    border-radius: 30px;
}

.img-fig {
    width: 1000px;
}


/* colored cards for homepage articles */

.img-card{
    background: var(--color-light);
    position: relative;
    border-radius: 30px;
}

.article-container{
    height: fit-content;
    width: fit-content;
}

.article-01 {
    width: 714px;
    padding: 550px 0 35px 35px;
}

.article-02 {
    width: 1300px;
    padding: 20px 0 35px 35px; 
}

.article-03 {
    width: 920px;
    padding: 430px 0 35px 35px; 
}

.img-header {
    margin-top: 35px;
    height: 500px;
    width: auto;
}

.article-img-01{
    position: absolute;
    top: 64px;
    left: 64px;
    height: 500px;
    width: 796px;
    background: url(../img/store-overview.JPG);
    background-size: contain;
    transition: ease-in 200ms;  
    border-radius: 30px; 
}

.article-img-02{
    position: absolute;
    bottom: 64px;
    right: 64px;
    height: 600px;
    width: 600px;
    background: url(../img/IMG_0019.JPG);
    background-size: auto 100%;
    transition: ease-in 200ms;
    border-radius: 30px;
}

.article-img-03{
    position: absolute;
    top: 64px;
    left: 64px;
    height: 400px;
    width: 1050px;
    background: url(../img/store-overview.JPG);
    background-size: 100% auto;
    background-position: center;
    transition: ease-in 200ms;  
    border-radius: 30px; 
}

.article-description {
    max-width: 600px;
    margin-top: 64px;
}

.homepage-list {
    margin: 0 220px;
    height: fit-content;
}

.thumb-list {
    width: fit-content;
    height: fit-content;
}

.thumb {
    width: 350px;
    background-color: var(--color-light);
    border-radius: 30px;
    padding: 35px;
    margin-bottom: 35px;
}

.thumb-img {
    margin: 0 auto;
    width: 100%; 
    border-radius: 30px;
}



/* article collums */


.collums {
    width:fit-content ;
    margin: 0   auto;
}

.img-collum{
    margin-top: 35px;
    width: 100%;
}

.divider-img {
    padding: 0 100px;
    height: fit-content;
}

.dividing-img-01 {
    height: 500px;
    background-image: url(../img/meeting-placeholder.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 90% auto;
}

.dividing-img-02 {
    height: 500px;
    background-image: url(../img/wargaming-table.JPG);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 90% auto;
}

/* figures*/ 

.divider-horizontal{
    height: 10px;
    width: 900px;
    background: var(--color-detail);
    border-radius: 5px;
    margin: 0  auto;
    margin-bottom: 115px;
}

.divider-horizontal-thin{
    height: 2px;
    width: 500px;
    border-radius: 1px;
    background: black;
    margin: 20px;
}

.button {
    position: relative;
    transition: 150ms ease-in;
}

.button:hover {
    transform: scale(1.1);
}

.button-nav{
    border-radius: solid 1px var(--color-light);
    background: var(--color-dark);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.button:hover .icon{
    height: 60%;
    width: 60%;
}


/* figures icons */

.icon {
    position: absolute;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: ease-in 200ms;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    
}

.home {
    background-color: var(--color-light);
    -webkit-mask-image: url(../img/icons/icn_home.svg);
    mask-image: url(../img/icons/icn_home.svg);
    
}

.about-icon {
    background-color: var(--color-light);
    -webkit-mask-image: url(../img/icons/icn_about.svg);
    mask-image: url(../img/icons/icn_about.svg);
}

.articles {
    background-color: var(--color-light);
    -webkit-mask-image: url(../img/icons/icn_article.svg);
    mask-image: url(../img/icons/icn_article.svg);
}

.top{
    background-color: var(--color-light);
    -webkit-mask-image: url(../img/icons/icn_arrow.svg);
    mask-image: url(../img/icons/icn_arrow.svg);
}



/* misc animations */

.overlay {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), var(--color-dark-detail));
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 200ms ease-in opacity;
    border-radius: 30px;
}

.overlay:hover{
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), var(--color-dark-detail));
    border-radius: 30px;
    opacity: 1;
}

.clickable-img{
    display: block;
    transition: ease-in 200ms;
}

.clickable-img:hover{
    transform: scale(1.01);
}


/* parralaxing */

.forefront-element {
    -webkit-transform: translateZ(999px) scale(.7);
    transform: translateZ(999px) scale(.7);
    z-index: 1;
  }

  .base-element {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
  }

  .background-element {
    -webkit-transform: translateZ(-999px) scale(2);
    transform: translateZ(-999px) scale(2);
    z-index: 3;
  }